.navbar {
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom: 2px solid gray;
}

.exclusaoViajem {
  padding-bottom: 2%;
  border: 2px solid gray;
  border-radius: 25px;
}

.exclusaoViajem_content {
  height: 100%;
  width: 100%;
  padding-top: 2%;
}

.exclusaoViajem_list {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  border: 1px solid gray;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.table_button {
  border-radius: 5px;
  padding: 5px;
  color: white;
  border: none;
}

.button_blue {
  background-color: #24a0ed;
}

.button_red {
  background-color: red;
}
