.telas_container {
  height: auto;
  width: 100%;
}

.telas {
  width: 80%;
  height: 70%;
  padding-top: 3%;
  padding-left: 20%;
}

.telaExclusao {
  width: 80%;
  height: 70%;
  padding-top: 3%;
  margin: 0 auto;
}
